.info{
    margin: 10px;
    &__title{
        font-size: 18px;
        margin: 5px 0;
    }
    &__tel, &__website{
        color: black;
        text-decoration: none;
    }
    &__company{
        margin: 0;
    }
}